.faq {
    
    .faq-categories {
        
        border-top: 1px solid #8d89b1;
        border-bottom: 1px solid #8d89b1;
        margin-top: 17px;
        
        h5 {
            font-size: 21px;
            color: #1b1464;
            margin-bottom: 19px;
            letter-spacing: -0.05em;
        }
        
        ul.list-inline {
            li {
                font-size: 16px;
                font-weight: 700;
                margin-right: 27px;
                letter-spacing: -0.025em;
                &:last-child {
                    
                    margin-right: 0;
                    
                }
            }
        }
        
    }
    
    .panel-group .panel+.panel {
        margin-top: 13px;
    }
    
    .panel-group .panel-heading+.panel-collapse .panel-body {
        border-top: none;
        margin-left: 35px;
    }
    
    .panel-group {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    .panel-default {
    
        border-color: transparent;
        
        >.panel-heading {
            background: none;
            border: none;
            border-color: transparent;
            padding: 0;
            
            .panel-title {
                font-size: 24px;
                color: @blue;
                padding-left: 35px;
                
                .collapsed {
                    big {
                        
                        background: url(../img/icons.png) no-repeat top left;
                        background-position: 0 -598px;
                        
                        
                    }
                }
                
                big { color: #6c6eb2; font-weight: 800; font-size: 24px; 
                
                    position: absolute;
                    left: 0;
                    background: url(../img/icons.png) no-repeat top left;
                    background-position: 0 -632px;
                    width: 20px; height: 20px;
                    padding-left: 20px;
                    display: inline-block;
                
                }
                small { font-size: 24px; font-weight: 300; color: @blue }
                
            }
            
            
        }
        
        .panel-body {
            
            margin-top: 15px;
            
            big {
                font-size: 24px;
                font-weight: 800;
                color: #000;
                position: absolute;
                margin-left: -30px;
            }
            
            padding: 0;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.025em;
        }
        
        box-shadow: none;
        background: none;
        border: none;
    
    }
    
}