.faq {
    
    .panel-default {
    
        
        
        >.panel-heading {
            background: none;
            border: none;
            
            .panel-title {
                font-size: 24px;
                color: @blue;
                big { color: #6c6eb2; font-size: 800; font-size: 24px; }
                small { font-size: 24px; font-size: 300; }
                
            }
            
            
        }
        
        box-shadow: none;
        background: none;
        border: none;
    
    }
    
}