.modal-dialog
{
    left: auto;
}

.no-hover(@hover-color: #fff) {
    
    text-decoration:none;
    color: @hover-color;
    
    &:hover {
        
        text-decoration:none;
        color: @hover-color;
        
    }
    
}

.big-button(@font-size: 24px, @padding: 10px 40px) {
    border-radius: 5px;
    
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0, 0.56), inset 1px 0 0 rgba(255,255,255,0.41);
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.56), inset 1px 0 0 rgba(255,255,255,0.41);
    
    font-size: @font-size;
    color: #fff;
    padding: @padding;
    font-weight: 700;
    #gradient .vertical(#f9b225, #f57615);
    display: inline-block;
    letter-spacing: -0.025em;
    .no-hover();
}

.banner-container {
    
    height: 726px;
    @media (max-width: @screen-sm-max) {
    
        height: 467px;
                    
    }
    
    .jumbotron {
        
        background: #6c6eb2;
        padding: 10px;
        border-radius: 0;
        margin-top: 82px;
        
        @media (max-width: @screen-sm-max) {
    
                margin-top: 42px;
                    
        }
        
        .box_area_slider {
            width: 100%;
            padding: 0;
            background: #fff;
            margin: 0;
            position: relative;
            height: 362px;
            
            @media (max-width: @screen-sm-max) {
    
                height: 254px;
                    
            }
            
            .box-sizing(border-box);
            
            h2 {
                font-weight: 300;
                font-size: 48px;
                color: #001032;
                letter-spacing: -0.05em;
                position: absolute;
                margin: 0;
                strong {
                    
                    font-weight: 700px;
                    color: #1b1464;
                    
                }
                
                @media (max-width: @screen-sm-max) {
    
                    font-size: 36px;
                    top: 10px;
                    
                    
                }
            
            }
            
            .play-button {
                width: 121px;
                height: 121px;
                display: block;
                left: 50%;
                top: 86px;
                
                @media (max-width: @screen-sm-max) {
                    top: 38px;
                }
                
                background: url(../img/icons.png) 0 -398px no-repeat;
                position: absolute;
                span { display: none; }
            }
            
            .text {
                
                font-size: 18px;
                color: #001032;
                line-height: 24px;
                font-weight: 400;
                letter-spacing: -0.025em;
                position: absolute;
                width: 400px;
                
                @media (max-width: @screen-sm-max) {
    
                    font-size: 14px;
                    width: 300px;
                }

                
            }
            
            p:last-child {margin-bottom: 0;}
            padding: 20px 20px 40px 20px;
            
        }
        
    } 
    
}

.banner {
    margin-bottom: 0;
}


.start-now-button {

    .big-button();

}

.homepage-container
{
    margin-bottom: 64px;
    
    h3 {
        font-size: 36px;
        margin-bottom: 20px;
        
        @media (max-width: @screen-sm-max) {
         
            font-size: 24px;
            
        }
        
        strong {
            color: #6c6eb2;
            font-weight: 600;
        }
        
        font-weight: 300;
        
    }
    
    .border {
        border-right: 1px solid #d8d8d8;
        position: absolute;
        right: 0;
        height: 70%;
        top: 30%;
    }
    
    .col-sm-4 {
        
        position: relative;
        min-height: 450px;
        padding-bottom: 50px;
        
        @media (max-width: @screen-xs-max) {
            min-height: 0;
            border-bottom: 1px solid #d8d8d8;
        }
        
        .inner {
            
            margin: 20px;
            
            @media (max-width: @screen-sm-max) {
                
                font-size: 12px;
                
            }
            
        }
        
        .learn-more-button {
            
            position: absolute;
            bottom: 0;
            color: #f7941d;
            font-size: 16px;
            font-weight: 800;
            
        }
        
    }
    

}

.navbar-default {

    background: #fff;
    border: none;
    
    .navbar-collapse {
        border-color: #6c6eb2;
    }
    
    .navbar-toggle {
        border: none;
        padding: 4px 9px;
        
        .icon-bar {
            background-color: #f7941d;
            width: 39px;
            height: 4px;
            margin-top: 4px;
            &:first-child {
                margin-top: 0;
            }
        }
        
        &:hover, &:focus {
            background: none;
            
        }
        
    }

    .navbar-nav {

        >li {

            >a {

                color: #313131;
                font-weight: 700;
                text-transform: uppercase;
            }

        }

    }
    
    #menu-primary-navigation {
        
        li {
            float: left;
            
            a {
            
                @media (max-width: @screen-xs-max) { 
                    font-size: 17px;
                }
            
            }
        }
        
    }
    
    #menu-secondary-navigation {
        margin: 0;
        padding: 0;
        
        @media (max-width: @screen-xs-max) { 
            overflow: hidden;
        }
        
        li {
        
            
            
            @media (max-width: @screen-xs-max) { 
                    
                border-bottom: 1px solid #6c6eb2;
                &:last-child {
                    border:none;
                }
                
                padding: 10px 0;
                
                &.open {
                    
                    padding-bottom: 0;
                    
                }
                
                &.active, &.open {
                    
                    
                    a {
                        
                        background: none;
                        
                    }
                    
                }

                
                a {
                    color: #f7941d;
                    font-size: 36px;
                    font-weight: 400;
                    letter-spacing: -0.05em;
                    display: block;
                    padding-left: 20px;
                }
                
            
                .dropdown-menu {
                    background-color: #6c6eb2;
                    margin: 0;
                    padding: 0;
                    margin-top: 9px;
                    
                    li {
                        
                        padding: 18px 0;
                        border-bottom: 1px solid #1b1464;
                        &:last-child {border: none;}
                        
                        a {
                            
                            font-size: 30px;
                            font-weight: 600;
                            color: #1b1464;
                            
                            padding-left: 80px;
                            
                        }
                        
                    }
                    
                }
                
            }
            
            
        }
    }

    .container {

        margin-top: 20px;

    }

    .navbar-brand {

        color: #1b1464;
        font-size: 36px;
        font-weight: 600;
        span {
            .orange();
        }
        
        .no-hover(#1b1464);
        
        @media (max-width: @screen-xs-max) { 
            font-size: 36px;
        }
    }    
    .apply-now {

        a {

            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 16px;
            color: #fff !important;
            border-radius: 4px;
            #gradient .vertical(#f9b325, #f57615);

        }

    }

}

.orange {
    color: #f7941d;
}


@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) { 


    .navbar-default {

        .navbar-brand {
            
            font-size: 24px;
            
        }
        
        .navbar-nav {

            >li {

                >a {
                    
                    font-size: 12px;
                    padding: 10px 11px;
                    
                }
            }
        }
    }


}