.single-mcm_listing {

    .page-image {
        h1 a {
            .no-hover();
        }
    }
    
    .entry-content {
        
        h2 {
            font-size: 48px;
            font-weight: 700px;
            color: #f7941d;
            letter-spacing: -0.05em;
            @media (max-width: @screen-sm-max)
            {
                font-size: 24px;
            }
        }
        
        font-size: 18px;
        @media (max-width: @screen-sm-max)
        {
            font-size: 12px;
        }
        
        
        h3 {
            font-size: 24px;
            font-weight: 700px;
            color: #000;
            @media (max-width: @screen-sm-max)
            {
                font-size: 14px;
            }
            
            &.details {
                
                font-size: 36px;
                
                color: #1b1464;
                letter-spacing: -0.025em;
                @media (max-width: @screen-sm-max)
                {
                    font-size: 19px;
                }
                
            }
        }
        
        h4 {
            
            font-size: 18px;
            font-weight: 700px;
            color: #000;
        }
        
        
    }
    
}