.main {
    padding-bottom: 60px;
}

.youtube-component {
    
    .border {
        iframe {
            border: 10px solid #6c6eb2;
            .box-sizing(border-box);
        }
    }
    
    .col-xs-2 {
        padding: 0;
    }
    
    .thumbnails-youtube {
        
        border: 10px solid #6c6eb2;
        width: auto;
        
        li {
            text-align: center;
        }
    }
    
}