.menu {
    background: #1b1464;


    .navbar-nav {

        >li {

            >a {

                color: #fff;
                font-weight: 700;
                text-transform: none;
                &:hover {
                    color: #fff;
                }
            }

        }

    }

}