.menu {
    background: #1b1464;

    .container {

        @media (max-width: @screen-xs-max) { 
            padding: 9px 9px;
            padding-bottom: 0;
        }

    }

    .navbar {
        margin-bottom: 4px;
        height: auto;
    }

    .navbar-collapse {
        padding: 0;
    }

    .apply-now {

        
        .big-button(@font-size: 30px, @padding: 3px 20px, @shadowSize: 2px);
        .pull-right();
        
        .clearfix();
        margin-top: -2px;
        
    }

    .navbar-nav {

        >li {

            >a {

                color: #fff;
                font-weight: 700;
                text-transform: none;
                &:hover {
                    color: #fff;
                }

                b.caret { color:#e58923; }
            }

        }

    }
    
    .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus
    {
        background: #8d89b1;
        color: #fff;
    }

    .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
        background: #8d89b1;
        color: #fff;
    }

}

