@blue: #1a2d6b;
@violet: #6c6eb2;

.program-details
{
    
    #application-process {
    
        p {
           font-size: 18px;
           letter-spacing: -0.025em;
           border-bottom: 1px solid @violet;
           padding-bottom: 30px;
           margin-bottom: 34px;
           line-height: 24px;
        }
        
        p:last-child {
            border-bottom: none;
        }
        
        
        
        .apply-now {
            .big-button(24px, 10px 40px, 1px);
        }
    
    }
    
    
}